* { 
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

ul{
    list-style-type: none;
}

body{
    display: flex;
    flex-direction: column;
    }

header {
   
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-right: 3rem;
    
    
}

header picture{
    margin-left: 2rem;
    margin-top: 4rem;
    
}

header picture img {
    max-width: 300px;

}

nav{
    width: 50%;
}

ul{
    display: flex;
    justify-content: space-around;
}
a{
    font-family: Arial, Helvetica, sans-serif ;
    text-decoration: none;
    font-weight: bold;
    
    
}

#listaProvincias{
   display: flex; 
  
   flex-wrap: wrap;
   justify-content:space-between;
   margin-top: 2rem;
}
.carta{

 padding: 1rem;
 margin: 1rem;


}
.boton{
    display: flex;
   justify-content: center;
}


#carroCompras{
    margin-top: 2rem;
}

.imagenCarrito{
    max-width: 30%;
}

article{

    background-image: url("https://images.unsplash.com/photo-1585491665805-48272c97a0f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

.foto{
height: 70%;
width: 70%;
margin-top: 1rem;

}

footer{
   
    height: 10vh;
    margin-bottom: 5rem;
}

.Insta { width:50px;
    height:50px; 
    margin-top: 2%;
    padding:7px;
}

.redes { text-align: center; margin-bottom: 2rem;}

.botonEnviar{
   
   margin-top: 1rem;
}


#imagen{
    display: flex;
    justify-content: center;
    
}

#formulario{
  
    padding-top: 2rem;
 
  
   
}